<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
     crossorigin="anonymous">
    <script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue">

    </script>
    <script src="https://cdn.jsdelivr.net/npm/eventemitter2@5.0.1/lib/eventemitter2.min.js">

    </script>
    <script type="text/javascript" src="mjpegcanvas.min.js">

    </script>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6 text-center">
                <h3>Học Viện Kỹ Thuật Quân Sự</h3>
                <p class="text-danger" v-if="!connected">Not connected!</p>
                <p class="text-success" v-if="connected">Connected!</p>
                <label>Địa chỉ truy cập</label>
                <br>
                <input type="text" v-model="rosbridge_address" />
                <br><br>
                <button :disabled="loading" class="btn btn-danger" @click="disconnect"
                    v-if="connected">Disconnect!</button>
                <button :disabled="loading" class="btn btn-danger" @click="connect" v-else>Connect!</button>
            </div>
            <div class="col-md-12 col-sm-6" style="overflow:auto;">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h5>Commands</h5>
                    </div>

                    <!-- 1st row -->
                    <div class="col-md-12 text-center my-2">
                        <button @click="forward" :disabled="loading || !connected" class="btn btn-primary">Go
                            forward</button>
                    </div>

                    <!-- 2nd row -->
                    <div class="col-md-4 text-center my-2">
                        <button @click="turnLeft" :disabled="loading || !connected" class="btn btn-primary">Turn
                            left</button>
                    </div>
                    <div class="col-md-4 text-center my-2">
                        <button @click="stop" :disabled="loading || !connected" class="btn btn-danger">Stop</button>
                    </div>
                    <div class="col-md-4 text-center my-2">
                        <button @click="turnRight" :disabled="loading || !connected" class="btn btn-primary">Turn
                            right</button>
                    </div>

                    <!-- 3rd row -->
                    <div class="col-md-12 text-center my-2">
                        <button @click="backward" :disabled="loading || !connected" class="btn btn-primary">Go
                            backward</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 text-center">
                <div id="divCamera"></div>
            </div>
        </div>
    </div>    
        <script type="text/javascript" src="main.js">
        </script>
</body>

</html>